<main class="container">
  <p class="m-2 bg-emerald-500" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
  <p class="m-2 bg-red-400" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>
  <%= @inner_content %>
</main>
