@tailwind base;
@tailwind components;
@tailwind utilities;

/* This file is for your main application CSS */

tbody:before {
  content: "@";
  display: block;
  line-height: 6px;
  text-indent: -99999px;
}